/** Add css rules here for your application. */
html,body {
  background-color: rgb(255,255,255);
  margin: 0;
  padding: 0;
  height: 100%;
  border: none;
}


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

#spinner {
	width: 390px;
	height: 60px;
	vertical-align: bottom;
	margin: auto;
	z-order: 999;
	font-size: 42px;
	padding-left: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #dbdbdb;
}

#spinner img {
	padding-right: 10px;
}

.authPanel {
	margin: 2px;
	background-color: #b5ebff;
	border-width: 1px;
	border-style: solid;
	border-color: #46b0d6;
}

.leftPanel {
	background-color: #e8eaed;
	height: 100%;
	border-right-width: 2px;
	border-right-style: solid;
	border-right-color: #8a8a8a;
	vertical-align: top;
}

.mainPanel {
	width: 100%;
	height: 100%;
}

.errorFieldValue {
	background-color: #ebb7b7;
}

.authMessageLabel {
	color: #d10000;
	font-weight: bold;
}

.cw-StackPanelHeader {
  padding-left: 7px;
  font-weight: bold;
  font-size: 1.4em;
}

.LeftPadding6 {
	padding-left: 6px;
}

.AdditionalInfoText {
	background-color: #e5ed76;
	margin-left: 5px;
	width: 250px;
}