<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>authServlet</servlet-name>
    <servlet-class>net.autosauler.ballance.server.AuthServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>authServlet</servlet-name>
    <url-pattern>/ballance_autosauler_net/auth</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>dbServlet</servlet-name>
    <servlet-class>net.autosauler.ballance.server.DatabaseServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>dbServlet</servlet-name>
    <url-pattern>/ballance_autosauler_net/database</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>usersServlet</servlet-name>
    <servlet-class>net.autosauler.ballance.server.UsersServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>usersServlet</servlet-name>
    <url-pattern>/ballance_autosauler_net/users</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>currencyServlet</servlet-name>
    <servlet-class>net.autosauler.ballance.server.CurrencyServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>currencyServlet</servlet-name>
    <url-pattern>/ballance_autosauler_net/currency</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>catalogServlet</servlet-name>
    <servlet-class>net.autosauler.ballance.server.CatalogServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>catalogServlet</servlet-name>
    <url-pattern>/ballance_autosauler_net/catalog</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>
